.button {
  border-radius: 20px;
  height: 40px;
  padding: 0 20px;
  border: 1px solid transparent;
  background-color: var(--background);
  color: var(--primary);
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.primary {
  border-color: transparent;
  background-color: var(--primary);
  color: var(--background);
}

.primary:hover {
  border-color: var(--primary);
  background-color: var(--secondary);
  color: var(--primary);
}

.secondary {
  border-color: var(--secondary);
  background-color: var(--background);
  color: var(--text);
}

.secondary:hover {
  border-color: transparent;
  background-color: var(--tertiary);
}
