.main {
    width: 100%;
    max-width: 400px;
    margin: 64px 2%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main button {
    width: 100%
}

.main a {
    align-self: center;
}