.card {
  border-radius: 20px;
  height: 250px;
  width: 250px;
  background-position: center;
  background-size: cover;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  transition: 0.5s;
  padding: 16px;
  display: flex;
  align-items: flex-end;
  position: relative;
  cursor: pointer;
}

.card .details {
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
}

.card h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  position: relative;
  z-index: 2;
}

.card:hover {
  transform: scale(1.05);
}
