.card {
  border-radius: 20px;
  height: 350px;
  width: 250px;
  background-color: var(--white);
  font-size: 16px;
  line-height: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  transition: 0.5s;
  cursor: pointer;
  display: block;
}

.card .image {
  width: 100%;
  height: 50%;
  background-position: center;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}

.card .details {
  padding: 16px;
  display: flex;
  height: 50%;
  flex-direction: column;
}

.card .details h3 {
  font-size: 18px;
  font-weight: 700;
}

.card .details p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}

.card .reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 20px;
  width: 80px;
  gap: 8px;
  background-color: var(--secondary);
  font-weight: bold;
  margin: 12px 0;
}

.card .reviews svg {
  color: yellow;
}

.card .details button {
  justify-self: flex-end;
}

.card:hover {
  transform: scale(1.05);
}
