:root {
  --primary: #007aff;
  --secondary: #bdb2ff;
  --tertiary: #aee2ff;
  --background: #f8f9fb;
  --text: #212529;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}

a {
  color: inherit;
  text-decoration: none;
}

input::placeholder {
  color: var(--tertiary);
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  font-family: var(--font-body);
  background-color: var(--background);
}
