.main {
  display: flex;
  flex-direction: column;
  margin: 64px 0;
  width: 100%;
  max-width: 1200px;
  gap: 64px;
}

.main .hero, .main .places {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 2%;
}

.main .hero {
  align-items: center;
}

.main .hero h1 {
  font-size: 54px;
  max-width: 800px;
  text-align: center;
}

.main .hero button {
  min-width: 170px;
}

.places header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.places header h2 {
  font-size: 30px;
}

.places header a {
  font-size: 18px;
  font-weight: bold;
}

.places header a:hover {
  color: var(--primary);
}

.places .cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
