.header {
    width: 100%;
    background-color: var(--primary);
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.header h1 {
    color: var(--background);
}

.container {
    margin: 0 2%;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputContainer {
    width: 50%;
}

.userContainer button {
  border-color: transparent;
  color: var(--primary);
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  color: var(--white);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.userInfo:hover {
  background-color: var(--secondary);
}

.userImage {
  width: 38px;
  height: 38px;
  outline: 2px solid var(--white);
  background-color: var(--secondary);
  color: var(--white);
  line-height: 38px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  border-radius: 50%;
}

.userInfo .logOut {
  text-decoration: underline;
  font-size: 12px;
  justify-self: flex-start;
  cursor: pointer; 
}

@media (max-width: 768px) {
  .inputContainer {
    display: none;
  }
}