.header {
    width: 100%;
    background-color: var(--primary);
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.header h1 {
    color: var(--background);
}

.container {
    margin: 0 2%;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputContainer {
    width: 50%;
}

.userContainer a {
  border-radius: 20px;
  height: 40px;
  padding: 0 20px;
  border: 1px solid transparent;
  background-color: var(--background);
  color: var(--primary);
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .inputContainer {
    display: none;
  }
}